In [1]:
import pandas as pd 
import numpy as np
import random
from io import StringIO , BytesIO

In [2]:
 data = pd.read_csv(r'C:\PANDA_FILES\EMPLOYEE_DATA_PANDA.csv', usecols=['first_name'	,'last_name',	'salary',	'age',
                                                                       'monthlybonus','annualbasicpay',
                                                                       'annualbonus','tax','deduction',
                                                                       'annualfinalpay','netpay','discount','joining_date'])
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

### Rename Columns :

In [4]:
data.rename(columns={'first_name' : 'name'},inplace = True)
data

,name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

In [5]:
data.rename(columns={'last_name' : 'surname'})

,name,surname,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

In [21]:
# set axis function : 
data.set_axis(['name','surname','salary','joining_date','age','monthbonus','annualbasicpay',
              'annualbonus','tax','deduction','annualfinalpay','netpay','discount'],axis=1)

,name,surname,salary,joining_date,age,monthbonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

In [22]:
data

,name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0