# Delete or Drop or Pop Columns

In [1]:
import pandas as pd
import numpy as np
import random
from io import StringIO ,BytesIO

In [27]:
 data = pd.read_csv(r'C:\PANDA_FILES\EMPLOYEE_DATA_PANDA.csv', usecols=['first_name'	,'last_name',	'salary',	'age',
                                                                       'monthlybonus','annualbasicpay',
                                                                       'annualbonus','tax','deduction',
                                                                       'annualfinalpay','netpay','discount','joining_date'])
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

In [28]:
backup = data.copy()
backup

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

### Drop Functions

##### Drop function is used to remove rows and columns from the data frame

In [24]:
data.drop(data.columns[[4]],axis=1,inplace = True)

In [25]:
data

,first_name,last_name,salary,joining_date,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

In [26]:
data.drop(data.columns[[1]],axis=1)

,first_name,salary,joining_date,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,39792.40,2024-05-23,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,32339.87,2021-10-28,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,37731.53,2020-07-13,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,38943.30,2020-05-21,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,41015.44,2022-08-24,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...
995,Austin,48184.56,2022-08-26,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,66642.13,2022-08-20,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,54063.49,2021-12-07,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,44335.70,2023-11-23,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,65796.03,2022-09-19,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

In [30]:
data['age']= backup['age']
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

### Pop Functions :

In [31]:
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

In [33]:
# Code to check the number of records inside the table 
len(data)

1000

In [36]:
# Code to check the number of columns in the table 
num_columns = data.shape[1]
print(num_columns)

13

In [46]:
data['age'] = backup['age']
data

,first_name,last_name,salary,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,age
0,Joshua,Ramos,39792.40,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,42
1,David,King,32339.87,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,39
2,Michael,Carlson,37731.53,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,36
3,Christy,Martin,38943.30,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,28
4,Kathleen,Mcintyre,41015.44,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,22
996,Raymond,Roberts,66642.13,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,60
997,Nancy,Kelley,54063.49,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,26
998,Alyssa,Rivera,44335.70,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,46
999,Walter,Villanueva,65796.03,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,41

,first_name,last_name,salary,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,age
0,Joshua,Ramos,39792.40,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,42
1,David,King,32339.87,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,39
2,Michael,Carlson,37731.53,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,36
3,Christy,Martin,38943.30,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,28
4,Kathleen,Mcintyre,41015.44,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,22
996,Raymond,Roberts,66642.13,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,60
997,Nancy,Kelley,54063.49,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,26
998,Alyssa,Rivera,44335.70,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,46
999,Walter,Villanueva,65796.03,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,41

In [48]:
data.pop('last_name')

0           Ramos
1            King
2         Carlson
3          Martin
4        Mcintyre
          ...
995       Nichols
996       Roberts
997        Kelley
998        Rivera
999    Villanueva
Name: last_name, Length: 1000, dtype: object

In [49]:
data

,first_name,salary,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,age
0,Joshua,39792.40,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,42
1,David,32339.87,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,39
2,Michael,37731.53,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,36
3,Christy,38943.30,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,28
4,Kathleen,41015.44,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,46
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,48184.56,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,22
996,Raymond,66642.13,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,60
997,Nancy,54063.49,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,26
998,Alyssa,44335.70,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,46
999,Walter,65796.03,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,41

In [50]:
# Way to get back the popped up column from the table .....
data['last_name'] = backup['last_name']

In [51]:
data

,first_name,salary,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,age,last_name
0,Joshua,39792.40,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,42,Ramos
1,David,32339.87,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,39,King
2,Michael,37731.53,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,36,Carlson
3,Christy,38943.30,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,28,Martin
4,Kathleen,41015.44,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,46,Mcintyre
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,48184.56,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,22,Nichols
996,Raymond,66642.13,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,60,Roberts
997,Nancy,54063.49,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,26,Kelley
998,Alyssa,44335.70,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,46,Rivera
999,Walter,65796.03,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,41,Villanueva

In [64]:
columns_remove = ['first_name','last_name']
removed_columns = {}
for i in columns_remove :
    removed_columns[i] = data.pop(i)

data

,salary,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,age
0,39792.40,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,42
1,32339.87,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,39
2,37731.53,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,36
3,38943.30,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,28
4,41015.44,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,46
...,...,...,...,...,...,...,...,...,...,...,...
995,48184.56,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,22
996,66642.13,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,60
997,54063.49,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,26
998,44335.70,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,46
999,65796.03,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,41

In [65]:
data_retrieve = ['first_name','last_name']
for i in data_retrieve:
    data[i] = backup[i]

In [66]:
data

,salary,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,age,first_name,last_name
0,39792.40,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,42,Joshua,Ramos
1,32339.87,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,39,David,King
2,37731.53,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,36,Michael,Carlson
3,38943.30,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,28,Christy,Martin
4,41015.44,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,46,Kathleen,Mcintyre
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,48184.56,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,22,Austin,Nichols
996,66642.13,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,60,Raymond,Roberts
997,54063.49,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,26,Nancy,Kelley
998,44335.70,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,46,Alyssa,Rivera
999,65796.03,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,41,Walter,Villanueva

#### Delete Function

In [87]:
del data['salary']

In [88]:
data

,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,first_name,last_name
0,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua,Ramos
1,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David,King
2,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael,Carlson
3,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy,Martin
4,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen,Mcintyre
...,...,...,...,...,...,...,...,...,...,...,...
995,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin,Nichols
996,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond,Roberts
997,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy,Kelley
998,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa,Rivera
999,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter,Villanueva

In [89]:
data['salary'] = backup['salary']
data

,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,first_name,last_name,salary
0,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua,Ramos,39792.40
1,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David,King,32339.87
2,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael,Carlson,37731.53
3,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy,Martin,38943.30
4,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen,Mcintyre,41015.44
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin,Nichols,48184.56
996,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond,Roberts,66642.13
997,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy,Kelley,54063.49
998,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa,Rivera,44335.70
999,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter,Villanueva,65796.03

In [91]:
data

,joining_date,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,first_name,last_name,salary
0,2024-05-23,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua,Ramos,39792.40
1,2021-10-28,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David,King,32339.87
2,2020-07-13,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael,Carlson,37731.53
3,2020-05-21,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy,Martin,38943.30
4,2022-08-24,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen,Mcintyre,41015.44
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-08-26,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin,Nichols,48184.56
996,2022-08-20,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond,Roberts,66642.13
997,2021-12-07,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy,Kelley,54063.49
998,2023-11-23,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa,Rivera,44335.70
999,2022-09-19,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter,Villanueva,65796.03