In [178]:
import pandas as pd 
import numpy as np
import random
from io import StringIO,BytesIO

ModuleNotFoundError: No module named 'table'

In [47]:
 data = pd.read_csv(r'C:\PANDA_FILES\EMPLOYEE_DATA_PANDA.csv', usecols=['first_name'	,'last_name',	'salary',	'age',
                                                                       'monthlybonus','annualbasicpay',
                                                                       'annualbonus','tax','deduction',
                                                                       'annualfinalpay','netpay','discount','joining_date'])

In [48]:
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

In [49]:
data.head()

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0

In [50]:
data.tail()

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0

#### String functions :

In [51]:
data['first_name'].str.lower()

0        joshua
1         david
2       michael
3       christy
4      kathleen
         ...
995      austin
996     raymond
997       nancy
998      alyssa
999      walter
Name: first_name, Length: 1000, dtype: object

In [52]:
data['last_name'].str.upper()

0           RAMOS
1            KING
2         CARLSON
3          MARTIN
4        MCINTYRE
          ...
995       NICHOLS
996       ROBERTS
997        KELLEY
998        RIVERA
999    VILLANUEVA
Name: last_name, Length: 1000, dtype: object

In [53]:
data['fullname']=data['first_name'].str.cat(data['last_name'],sep= ' ')
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,fullname
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua Ramos
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David King
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael Carlson
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy Martin
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen Mcintyre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin Nichols
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond Roberts
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy Kelley
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa Rivera
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter Villanueva

In [54]:
data['fullname'].str.title()

0           Joshua Ramos
1             David King
2        Michael Carlson
3         Christy Martin
4      Kathleen Mcintyre
             ...
995       Austin Nichols
996      Raymond Roberts
997         Nancy Kelley
998        Alyssa Rivera
999    Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [55]:
data['fullname'].str.strip()

0           Joshua Ramos
1             David King
2        Michael Carlson
3         Christy Martin
4      Kathleen Mcintyre
             ...
995       Austin Nichols
996      Raymond Roberts
997         Nancy Kelley
998        Alyssa Rivera
999    Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [56]:
data['fullname'].str.contains('Ram')

0       True
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: fullname, Length: 1000, dtype: bool

In [57]:
data['fullname'].str.endswith('os')
data['first_name'].str.endswith('y')

0      False
1      False
2      False
3       True
4      False
       ...
995    False
996    False
997     True
998    False
999    False
Name: first_name, Length: 1000, dtype: bool

In [58]:
data['New_name']=data['fullname'].str.replace('Ram','Shyam',case = False)
data['fullname'].str.replace(' ','  ')
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,fullname,New_name
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua Ramos,Joshua Shyamos
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David King,David King
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael Carlson,Michael Carlson
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy Martin,Christy Martin
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen Mcintyre,Kathleen Mcintyre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin Nichols,Austin Nichols
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond Roberts,Raymond Roberts
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy Kelley,Nancy Kelley
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa Rivera,Alyssa Rivera
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter Villanueva,Walter Villanueva

In [81]:
data['joining_date'].str.extract(r'-(\d{2})$')
data['first_name']=data['fullname'].str.extract(r'^(\w+)')
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,fullname,New_name
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua Ramos,Joshua Shyamos
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David King,David King
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael Carlson,Michael Carlson
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy Martin,Christy Martin
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen Mcintyre,Kathleen Mcintyre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin Nichols,Austin Nichols
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond Roberts,Raymond Roberts
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy Kelley,Nancy Kelley
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa Rivera,Alyssa Rivera
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter Villanueva,Walter Villanueva

In [86]:
data['fullname'].str.split(' ',expand=True)
data[['year','month','day']] = data['joining_date'].str.split('-',expand=True)
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,fullname,New_name,year,month,day
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua Ramos,Joshua Shyamos,2024,05,23
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David King,David King,2021,10,28
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael Carlson,Michael Carlson,2020,07,13
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy Martin,Christy Martin,2020,05,21
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen Mcintyre,Kathleen Mcintyre,2022,08,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin Nichols,Austin Nichols,2022,08,26
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond Roberts,Raymond Roberts,2022,08,20
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy Kelley,Nancy Kelley,2021,12,07
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa Rivera,Alyssa Rivera,2023,11,23
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter Villanueva,Walter Villanueva,2022,09,19

In [87]:
data['fullname'].str.capitalize()

0           Joshua ramos
1             David king
2        Michael carlson
3         Christy martin
4      Kathleen mcintyre
             ...
995       Austin nichols
996      Raymond roberts
997         Nancy kelley
998        Alyssa rivera
999    Walter villanueva
Name: fullname, Length: 1000, dtype: object

In [91]:
data['fullname'].str.lstrip()

0           Joshua Ramos
1             David King
2        Michael Carlson
3         Christy Martin
4      Kathleen Mcintyre
             ...
995       Austin Nichols
996      Raymond Roberts
997         Nancy Kelley
998        Alyssa Rivera
999    Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [92]:
data['fullname'].str.rstrip()

0           Joshua Ramos
1             David King
2        Michael Carlson
3         Christy Martin
4      Kathleen Mcintyre
             ...
995       Austin Nichols
996      Raymond Roberts
997         Nancy Kelley
998        Alyssa Rivera
999    Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [95]:
data['joining_date'].str.get(6)

0      5
1      0
2      7
3      5
4      8
      ..
995    8
996    8
997    2
998    1
999    9
Name: joining_date, Length: 1000, dtype: object

In [101]:
data['fullname'].str.repeat(1)

0           Joshua Ramos
1             David King
2        Michael Carlson
3         Christy Martin
4      Kathleen Mcintyre
             ...
995       Austin Nichols
996      Raymond Roberts
997         Nancy Kelley
998        Alyssa Rivera
999    Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [110]:
data['fullname'].tail().str.pad(20,fillchar= '*',side='right')

995    Austin Nichols******
996    Raymond Roberts*****
997    Nancy Kelley********
998    Alyssa Rivera*******
999    Walter Villanueva***
Name: fullname, dtype: object

In [113]:
data['fullname'].tail().str.center(20,fillchar = '*')

995    ***Austin Nichols***
996    **Raymond Roberts***
997    ****Nancy Kelley****
998    ***Alyssa Rivera****
999    *Walter Villanueva**
Name: fullname, dtype: object

In [116]:
data['fullname'].str.ljust(20,fillchar='*')

0      Joshua Ramos********
1      David King**********
2      Michael Carlson*****
3      Christy Martin******
4      Kathleen Mcintyre***
               ...
995    Austin Nichols******
996    Raymond Roberts*****
997    Nancy Kelley********
998    Alyssa Rivera*******
999    Walter Villanueva***
Name: fullname, Length: 1000, dtype: object

In [118]:
data['fullname'].str.rjust(20,fillchar='_')

0      ________Joshua Ramos
1      __________David King
2      _____Michael Carlson
3      ______Christy Martin
4      ___Kathleen Mcintyre
               ...
995    ______Austin Nichols
996    _____Raymond Roberts
997    ________Nancy Kelley
998    _______Alyssa Rivera
999    ___Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [121]:
data['fullname'].str.zfill(20)

0      00000000Joshua Ramos
1      0000000000David King
2      00000Michael Carlson
3      000000Christy Martin
4      000Kathleen Mcintyre
               ...
995    000000Austin Nichols
996    00000Raymond Roberts
997    00000000Nancy Kelley
998    0000000Alyssa Rivera
999    000Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [122]:
data['fullname'].str.swapcase()

0           jOSHUA rAMOS
1             dAVID kING
2        mICHAEL cARLSON
3         cHRISTY mARTIN
4      kATHLEEN mCINTYRE
             ...
995       aUSTIN nICHOLS
996      rAYMOND rOBERTS
997         nANCY kELLEY
998        aLYSSA rIVERA
999    wALTER vILLANUEVA
Name: fullname, Length: 1000, dtype: object

In [126]:
data['fullname'].str.isalpha()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: fullname, Length: 1000, dtype: bool

In [127]:
data['fullname'].str.isdigit()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: fullname, Length: 1000, dtype: bool

In [128]:
data['fullname'].str.isnumeric()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: fullname, Length: 1000, dtype: bool

In [133]:
data['salary']
data['joining_date'].str.isnumeric()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: joining_date, Length: 1000, dtype: bool

In [138]:
data
data['fullname'].str.isspace()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: fullname, Length: 1000, dtype: bool

In [143]:
data['joining_date'].str.isalnum()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: joining_date, Length: 1000, dtype: bool

In [151]:
data['fullname'].tail().str.islower()
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,fullname,New_name,year,month,day
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua Ramos,Joshua Shyamos,2024,05,23
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David King,David King,2021,10,28
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael Carlson,Michael Carlson,2020,07,13
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy Martin,Christy Martin,2020,05,21
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen Mcintyre,Kathleen Mcintyre,2022,08,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin Nichols,Austin Nichols,2022,08,26
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond Roberts,Raymond Roberts,2022,08,20
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy Kelley,Nancy Kelley,2021,12,07
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa Rivera,Alyssa Rivera,2023,11,23
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter Villanueva,Walter Villanueva,2022,09,19

In [153]:
data['fullname'].head().str.repeat(4)

0     Joshua RamosJoshua RamosJoshua RamosJoshua Ramos
1             David KingDavid KingDavid KingDavid King
2    Michael CarlsonMichael CarlsonMichael CarlsonM...
3    Christy MartinChristy MartinChristy MartinChri...
4    Kathleen McintyreKathleen McintyreKathleen Mci...
Name: fullname, dtype: object

In [156]:
data['fullname'].str.normalize(form = 'NFKC')
data['fullname'].str.normalize(form='NFD')

0           Joshua Ramos
1             David King
2        Michael Carlson
3         Christy Martin
4      Kathleen Mcintyre
             ...
995       Austin Nichols
996      Raymond Roberts
997         Nancy Kelley
998        Alyssa Rivera
999    Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [164]:
data['fullname'].str.extractall(r'(\d+)')
data['fullname'].head().str.extractall(r'(\w+)')

                0
  match
0 0        Joshua
  1         Ramos
1 0         David
  1          King
2 0       Michael
  1       Carlson
3 0       Christy
  1        Martin
4 0      Kathleen
  1      Mcintyre

In [169]:
data['fullname'].str.slice(0,3).str.cat(data['fullname'].str.slice(4,))

0           Josua Ramos
1             Davd King
2        Micael Carlson
3         Chrsty Martin
4      Katleen Mcintyre
             ...
995       Ausin Nichols
996      Rayond Roberts
997         Nany Kelley
998        Alysa Rivera
999    Waler Villanueva
Name: fullname, Length: 1000, dtype: object

In [171]:
data['fullname'].str.slice_replace(0,4,'Radhe')

0           Radheua Ramos
1             Radhed King
2        Radheael Carlson
3         Radhesty Martin
4      Radheleen Mcintyre
              ...
995       Radhein Nichols
996      Radheond Roberts
997         Radhey Kelley
998        Radhesa Rivera
999    Radheer Villanueva
Name: fullname, Length: 1000, dtype: object

In [172]:
data['fullname'].str.wrap(20)

0           Joshua Ramos
1             David King
2        Michael Carlson
3         Christy Martin
4      Kathleen Mcintyre
             ...
995       Austin Nichols
996      Raymond Roberts
997         Nancy Kelley
998        Alyssa Rivera
999    Walter Villanueva
Name: fullname, Length: 1000, dtype: object

In [186]:
table  = str.maketrans('Jo','Zo')
data['translated']=data['fullname'].str.translate(table)
data

,first_name,last_name,salary,joining_date,age,monthlybonus,annualbasicpay,annualbonus,tax,deduction,annualfinalpay,netpay,discount,fullname,New_name,year,month,day,translated
0,Joshua,Ramos,39792.40,2024-05-23,42,6531.38,783765.60,78376.56,2,15675.31,768090.29,846466.85,7.0,Joshua Ramos,Joshua Shyamos,2024,05,23,Zoshua Ramos
1,David,King,32339.87,2021-10-28,39,3233.99,388078.44,38807.88,7,27165.49,360912.95,399720.83,7.0,David King,David King,2021,10,28,David King
2,Michael,Carlson,37731.53,2020-07-13,36,3773.15,452778.36,45277.80,7,31694.49,421083.87,466361.67,7.0,Michael Carlson,Michael Carlson,2020,07,13,Michael Carlson
3,Christy,Martin,38943.30,2020-05-21,28,3894.33,467319.60,46731.96,7,32712.37,434607.23,481339.19,7.0,Christy Martin,Christy Martin,2020,05,21,Christy Martin
4,Kathleen,Mcintyre,41015.44,2022-08-24,46,4101.54,492185.28,49218.48,7,34452.97,457732.31,506950.79,7.0,Kathleen Mcintyre,Kathleen Mcintyre,2022,08,24,Kathleen Mcintyre
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Austin,Nichols,48184.56,2022-08-26,22,4818.46,578214.72,57821.52,2,11564.29,566650.43,624471.95,7.0,Austin Nichols,Austin Nichols,2022,08,26,Austin Nichols
996,Raymond,Roberts,66642.13,2022-08-20,60,6664.21,799705.56,79970.52,2,15994.11,783711.45,863681.97,7.0,Raymond Roberts,Raymond Roberts,2022,08,20,Raymond Roberts
997,Nancy,Kelley,54063.49,2021-12-07,26,5406.35,648761.88,64876.20,2,12975.24,635786.64,700662.84,7.0,Nancy Kelley,Nancy Kelley,2021,12,07,Nancy Kelley
998,Alyssa,Rivera,44335.70,2023-11-23,46,4433.57,532028.40,53202.84,2,10640.57,521387.83,574590.67,7.0,Alyssa Rivera,Alyssa Rivera,2023,11,23,Alyssa Rivera
999,Walter,Villanueva,65796.03,2022-09-19,41,6579.60,789552.36,78955.20,2,15791.05,773761.31,852716.51,7.0,Walter Villanueva,Walter Villanueva,2022,09,19,Walter Villanueva

In [187]:
data['fullname'],.str.partition('@')

                     0 1  2
0         Joshua Ramos
1           David King
2      Michael Carlson
3       Christy Martin
4    Kathleen Mcintyre
..                 ... .. ..
995     Austin Nichols
996    Raymond Roberts
997       Nancy Kelley
998      Alyssa Rivera
999  Walter Villanueva

[1000 rows x 3 columns]