In [14]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv('C:\mercedesbenz.csv')

In [28]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,100.858650,az,v,n,f,d,t,a,w,...,0,0,0,1,0,0,0,0,0,0
1,2,96.851370,t,b,ai,a,d,b,g,y,...,0,0,1,0,0,0,0,0,0,0
2,3,96.221504,az,v,as,f,d,a,j,j,...,0,0,0,1,0,0,0,0,0,0
3,4,96.831085,az,l,n,f,d,z,l,n,...,0,0,0,1,0,0,0,0,0,0
4,5,100.977974,w,s,as,c,d,y,i,m,...,1,0,0,0,0,0,0,0,0,0

In [39]:
#This funstion shows all the details about the file whether how many of elements of 
# different data types are in this file 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [40]:
# df.describe() : this function provide us the most details about the 
# file (count,mean,std,min,25% percentile,50% percentile,75% percentile,max) as default ..
df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,97.071149,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,4.752607,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,86.844470,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,93.604380,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,96.050650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,99.503060,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,125.425480,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [45]:
# Get the unique category counts ...
df['ID'].unique()

array([   1,    2,    3, ..., 8413, 8414, 8416], shape=(4209,))

In [46]:
df['X14'].unique()

array([0, 1])

In [47]:
df['X16'].unique()

array([0, 1])

In [48]:
df['y'].unique()

array([100.85865 ,  96.85137 ,  96.221504, ...,  91.628654, 102.32196 ,
        93.3977  ], shape=(3663,))

In [51]:
# Retrieve the json file in the form of csv ..
test_df = pd.read_csv('C:\mercedesbenz.csv',sep=',')

In [52]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [53]:
test_df.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4211.039202,97.071149,0.019007,0.000238,0.074364,0.061060,0.427893,0.000713,0.002613,0.008791,...,0.325968,0.049656,0.311951,0.019244,0.011879,0.008078,0.008791,0.000475,0.000713,0.001663
std,2423.078926,4.752607,0.136565,0.015414,0.262394,0.239468,0.494832,0.026691,0.051061,0.093357,...,0.468791,0.217258,0.463345,0.137399,0.108356,0.089524,0.093357,0.021796,0.026691,0.040752
min,1.000000,86.844470,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2115.000000,93.604380,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4202.000000,96.050650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6310.000000,99.503060,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8416.000000,125.425480,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [54]:
test_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,100.858650,az,v,n,f,d,t,a,w,...,0,0,0,1,0,0,0,0,0,0
1,2,96.851370,t,b,ai,a,d,b,g,y,...,0,0,1,0,0,0,0,0,0,0
2,3,96.221504,az,v,as,f,d,a,j,j,...,0,0,0,1,0,0,0,0,0,0
3,4,96.831085,az,l,n,f,d,z,l,n,...,0,0,0,1,0,0,0,0,0,0
4,5,100.977974,w,s,as,c,d,y,i,m,...,1,0,0,0,0,0,0,0,0,0

In [57]:
# values_counts() function : It gives the unique category counts ...
df['X0'].value_counts()

X0
ak    432
y     348
z     335
x     302
ay    299
t     293
o     246
f     213
w     198
j     171
n     167
aj    162
az    161
s     116
ap    108
al     88
h      64
d      61
e      48
v      40
ai     38
af     34
m      34
am     28
i      25
at     21
u      20
ba     19
a      18
b      13
ad     12
k      12
aq     11
aw     11
r      10
ax      8
as      6
bc      6
l       6
c       6
ao      5
au      5
g       3
ag      1
av      1
an      1
ae      1
p       1
bb      1
Name: count, dtype: int64

In [63]:
# Find those records havingy>100
df[test_df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,100.858650,az,v,n,f,d,t,a,w,...,0,0,0,1,0,0,0,0,0,0
4,5,100.977974,w,s,as,c,d,y,i,m,...,1,0,0,0,0,0,0,0,0,0
6,10,100.839250,x,b,ae,d,d,x,d,y,...,0,0,0,0,0,1,0,0,0,0
8,12,105.236305,ap,l,s,c,d,h,j,n,...,0,0,0,0,0,0,0,0,0,0
10,15,105.229110,ap,l,s,c,d,g,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4196,8396,103.758644,aj,l,as,f,d,aa,j,e,...,0,0,0,0,0,0,0,0,0,0
4198,8400,100.674850,ak,e,as,a,d,aa,j,a,...,0,0,1,0,0,0,0,0,0,0
4203,8409,100.274990,j,o,t,d,d,aa,j,l,...,0,1,0,0,0,0,0,0,0,0
4204,8410,105.965890,aj,h,as,f,d,aa,j,e,...,0,0,0,0,0,0,0,0,0,0
4207,8414,102.321960,ak,v,as,a,d,aa,c,q,...,0,0,1,0,0,0,0,0,0,0

In [65]:
df[df['y']<90]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
52,91,88.94691,t,aa,m,c,d,j,g,b,...,1,0,0,0,0,0,0,0,0,0
59,99,88.58743,t,aa,as,c,d,j,d,b,...,1,0,0,0,0,0,0,0,0,0
124,236,89.97440,t,aa,ay,c,d,j,g,n,...,1,0,0,0,0,0,0,0,0,0
127,243,88.94691,t,aa,m,c,d,j,k,b,...,1,0,0,0,0,0,0,0,0,0
134,251,89.97440,t,aa,ay,c,d,j,g,n,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,6765,88.68628,t,aa,m,g,d,s,g,a,...,1,0,0,0,0,0,0,0,0,0
3664,7316,87.38450,s,aa,m,c,d,v,j,c,...,1,0,0,0,0,0,0,0,0,0
4125,8258,87.57741,n,l,as,f,d,aa,a,h,...,0,0,0,0,0,0,0,0,0,0
4131,8268,88.13702,n,l,as,f,d,aa,l,d,...,0,0,0,0,0,0,0,0,0,0
4201,8407,89.17157,o,l,as,f,d,aa,d,a,...,0,0,0,0,0,0,0,0,0,0

In [74]:
df2 = df[df['y']<90]
df2.describe()
print(df2)

        ID         y X0  X1  X2 X3 X4  X5 X6 X8  ...  X375  X376  X377  X378  \
52      91  88.94691  t  aa   m  c  d   j  g  b  ...     1     0     0     0
59      99  88.58743  t  aa  as  c  d   j  d  b  ...     1     0     0     0
124    236  89.97440  t  aa  ay  c  d   j  g  n  ...     1     0     0     0
127    243  88.94691  t  aa   m  c  d   j  k  b  ...     1     0     0     0
134    251  89.97440  t  aa  ay  c  d   j  g  n  ...     1     0     0     0
...    ...       ... ..  ..  .. .. ..  .. .. ..  ...   ...   ...   ...   ...
3375  6765  88.68628  t  aa   m  g  d   s  g  a  ...     1     0     0     0
3664  7316  87.38450  s  aa   m  c  d   v  j  c  ...     1     0     0     0
4125  8258  87.57741  n   l  as  f  d  aa  a  h  ...     0     0     0     0
4131  8268  88.13702  n   l  as  f  d  aa  l  d  ...     0     0     0     0
4201  8407  89.17157  o   l  as  f  d  aa  d  a  ...     0     0     0     0

      X379  X380  X382  X383  X384  X385
52       0     0     0     0     0     0
59       0     0     0     0     0     0
124      0     0     0     0     0     0
127      0     0     0     0     0     0
134      0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
3375     0     0     0     0     0     0
3664     0     0     0     0     0     0
4125     0     0     0     0     0     0
4131     0     0     0     0     0     0
4201     0     0     0     0     0     0

[81 rows x 378 columns]

In [75]:
df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,100.858650,az,v,n,f,d,t,a,w,...,0,0,0,1,0,0,0,0,0,0
1,2,96.851370,t,b,ai,a,d,b,g,y,...,0,0,1,0,0,0,0,0,0,0
2,3,96.221504,az,v,as,f,d,a,j,j,...,0,0,0,1,0,0,0,0,0,0
3,4,96.831085,az,l,n,f,d,z,l,n,...,0,0,0,1,0,0,0,0,0,0
4,5,100.977974,w,s,as,c,d,y,i,m,...,1,0,0,0,0,0,0,0,0,0

In [76]:
df.tail()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
4204,8410,105.965890,aj,h,as,f,d,aa,j,e,...,0,0,0,0,0,0,0,0,0,0
4205,8411,93.769620,t,aa,ai,d,d,aa,j,y,...,0,1,0,0,0,0,0,0,0,0
4206,8413,91.628654,y,v,as,f,d,aa,d,w,...,0,0,0,0,0,0,0,0,0,0
4207,8414,102.321960,ak,v,as,a,d,aa,c,q,...,0,0,1,0,0,0,0,0,0,0
4208,8416,93.397700,t,aa,ai,c,d,aa,g,r,...,1,0,0,0,0,0,0,0,0,0

In [122]:
import pandas as pd
import numpy as np
from io import StringIO, BytesIO
students = ['aayush','Disha','Prachi','Krish','Abhay']
subjects = ['mathematics','Science','Sst','Hindi','English']
mf = pd.DataFrame(np.random.rand(len(students),len(subjects))*100,index=students,columns=subjects)

In [123]:
print(mf)

        mathematics    Science        Sst      Hindi    English
aayush    21.409637  86.395047   8.736899  47.685621  87.339581
Disha     91.079542  90.986663  39.196057  21.103272  60.943181
Prachi    40.127475  13.344726  27.916283  34.204767  16.913019
Krish     78.989804  79.088622  17.524572  67.522795  93.722020
Abhay     92.256900  22.996645   2.092763  80.865645  40.281999

In [124]:
mf.head()

        mathematics    Science        Sst      Hindi    English
aayush    21.409637  86.395047   8.736899  47.685621  87.339581
Disha     91.079542  90.986663  39.196057  21.103272  60.943181
Prachi    40.127475  13.344726  27.916283  34.204767  16.913019
Krish     78.989804  79.088622  17.524572  67.522795  93.722020
Abhay     92.256900  22.996645   2.092763  80.865645  40.281999

In [125]:
mf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, aayush to Abhay
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mathematics  5 non-null      float64
 1   Science      5 non-null      float64
 2   Sst          5 non-null      float64
 3   Hindi        5 non-null      float64
 4   English      5 non-null      float64
dtypes: float64(5)
memory usage: 240.0+ bytes

In [126]:
mf['mathematics'].unique

<bound method Series.unique of aayush    21.409637
Disha     91.079542
Prachi    40.127475
Krish     78.989804
Abhay     92.256900
Name: mathematics, dtype: float64>

In [127]:
mf['Science'].value_counts()

Science
86.395047    1
90.986663    1
13.344726    1
79.088622    1
22.996645    1
Name: count, dtype: int64

In [181]:
mf['Science'].value_counts

<bound method IndexOpsMixin.value_counts of aayush    86.395047
Disha     90.986663
Prachi    13.344726
Krish     79.088622
Abhay     22.996645
Name: Science, dtype: float64>

In [182]:
mf.fillna('Science')

        mathematics    Science        Sst      Hindi    English
aayush    21.409637  86.395047   8.736899  47.685621  87.339581
Disha     91.079542  90.986663  39.196057  21.103272  60.943181
Prachi    40.127475  13.344726  27.916283  34.204767  16.913019
Krish     78.989804  79.088622  17.524572  67.522795  93.722020
Abhay     92.256900  22.996645   2.092763  80.865645  40.281999

In [183]:
mf[mf['Science']<49]

        mathematics    Science        Sst      Hindi    English
Prachi    40.127475  13.344726  27.916283  34.204767  16.913019
Abhay     92.256900  22.996645   2.092763  80.865645  40.281999

In [184]:
mf[mf['mathematics']>=50]

       mathematics    Science        Sst      Hindi    English
Disha    91.079542  90.986663  39.196057  21.103272  60.943181
Krish    78.989804  79.088622  17.524572  67.522795  93.722020
Abhay    92.256900  22.996645   2.092763  80.865645  40.281999

In [185]:
mf[mf[mf['mathematics']>50]>80]

        mathematics    Science  Sst      Hindi   English
aayush          NaN        NaN  NaN        NaN       NaN
Disha     91.079542  90.986663  NaN        NaN       NaN
Prachi          NaN        NaN  NaN        NaN       NaN
Krish           NaN        NaN  NaN        NaN  93.72202
Abhay     92.256900        NaN  NaN  80.865645       NaN

In [186]:
new_mf = mf[mf['mathematics']>50] 
print(new_mf)

       mathematics    Science        Sst      Hindi    English
Disha    91.079542  90.986663  39.196057  21.103272  60.943181
Krish    78.989804  79.088622  17.524572  67.522795  93.722020
Abhay    92.256900  22.996645   2.092763  80.865645  40.281999

In [187]:
# Create a file like object from a String ..
data = ('a,b,c,d\n''1,2,3,4\n''5,6,7,8\n')
file = StringIO(data)
print(data)
print(file)

a,b,c,d
1,2,3,4
5,6,7,8

<_io.StringIO object at 0x000001ED912F7280>

In [193]:
df = pd.read_csv(file, dtype={'b': int, 'c': np.float64, 'a': 'Int64'},index_col=0)

EmptyDataError: No columns to parse from file

   b    c  d
a
1  2  3.0  4
5  6  7.0  8

In [190]:
print(df['a'][0])

KeyError: 'a'

In [191]:
print(df['a'][1])

KeyError: 'a'