# Functions in python

In [10]:
import pandas as pd 
import numpy as np

In [12]:
def calculation(a,b,c,d): 
    result=(a*b)/c+d
    print(result)

a = int(input("Enter the number a"))
b = int(input("Enter the number b"))
c = int(input("Enter the number c"))
d = int(input("Enter the number d"))
calculation(a,b,c,d)

Enter the number a 45
Enter the number b 56
Enter the number c 67
Enter the number d 7

44.61194029850746

In [14]:
def function1(name):
    return "The name of the person is :",name ; 

name=input("Enter the name of the person ")
res = function1(name)
print(res)

Enter the name of the person  43534

('The name of the person is :', '43534')

In [15]:
def function2():
        print("The missile man of india is APJ Abdul kalam: ")
print(function2()) #if the functions will not return anything then it return none

The missile man of india is APJ Abdul kalam:
None

In [18]:
# Create functions to get the average of three number.
def calc_average(a,b,c):
    return (a+b+c)/3
a = int(input("Enter the number a"))
b = int(input("Enter the number b"))
c = int(input("Enter the number c"))
output  = calc_average(a,b,c)
print(output)

Enter the number a 34
Enter the number b 43
Enter the number c 34

37.0

In [19]:
# Built in Functions 
# print()
# len()
# type()
# range()
# User defined functions 
 # Functions created by the user only for their purpose

In [23]:
def calc_multiply(a,b=2):
    return a*b
a= int(input("Enter the number a"))
output = calc_multiply(a)
print(output)

Enter the number a 45

90

In [36]:
cities =["delhi","mumbai","Surat","udaipur","shimla","Banglore","Vellore","Tirupati"]
heroes = ["Subhash chandra Bose","BR Ambedkar","APJ Abdul kalam","Sardar Patel","Indira Gandhi"]

def print_len(list):
    print(len(list))
    
def cities_function(list) : 
    for c in list:
        print(c,end="\n")
        # print("--------------")
        # print(c,end=" ")
cities_function(cities)

delhi
mumbai
Surat
udaipur
shimla
Banglore
Vellore
Tirupati

In [44]:
def calc_fact(number):
    fact = 1 
    for i in range(1,number+1) : 
            fact*=i
    print(fact)
number=int(input("Enter the number"))
calc_fact(number)

Enter the number 23

25852016738884976640000

In [47]:
# million = 1000000
# billion = 100000000
def converter(number):
    return (number,"$ =",number*89,"INR")

number = int(input("Enter the number"))
output = converter(number)
print(output)

Enter the number 33546456

(33546456, '$ =', 2985634584, 'INR')