In [3]:
#Append is used to add eleements inside the list ..
lst = ['aayush',"Disha",12,21]
print(lst)
lst = type(lst)
print(lst)

['aayush', 'Disha', 12, 21]
<class 'list'>

In [19]:
lst = ["Rani","Laxmi","Bai","Public","School",284403]
print(lst)
lst.append("Lalitpur")
print(lst)
lst.append(['Uttarpradesh',"UP94"])
print(lst)

['Rani', 'Laxmi', 'Bai', 'Public', 'School', 284403]
['Rani', 'Laxmi', 'Bai', 'Public', 'School', 284403, 'Lalitpur']
['Rani', 'Laxmi', 'Bai', 'Public', 'School', 284403, 'Lalitpur', ['Uttarpradesh', 'UP94']]

TypeError: list.append() takes exactly one argument (2 given)

In [18]:
# Indexing inside the list 
print(lst[1:4])
print(lst[:6])
print(lst[:8])

['Laxmi', 'Bai', 'Public']
['Rani', 'Laxmi', 'Bai', 'Public', 'School', 284403]
['Rani', 'Laxmi', 'Bai', 'Public', 'School', 284403, 'Lalitpur', ['Uttarpradesh', 'UP94']]

In [22]:
## Insert
# Insert function is used to insert in specific order 
lst.insert(2,'Raja')
print(lst)
lst.insert(7,'Mumbai')
print(lst)

['Rani', 'Laxmi', 'Raja', 'Raja', 'Raja', 'Bai', 'Public', 'School', 284403, 'Lalitpur', ['Uttarpradesh', 'UP94']]
['Rani', 'Laxmi', 'Raja', 'Raja', 'Raja', 'Bai', 'Public', 'Mumbai', 'School', 284403, 'Lalitpur', ['Uttarpradesh', 'UP94']]

In [23]:
print(lst)

['Rani', 'Laxmi', 'Raja', 'Raja', 'Raja', 'Bai', 'Public', 'Mumbai', 'School', 284403, 'Lalitpur', ['Uttarpradesh', 'UP94']]

In [24]:
print(len(lst))

12

In [28]:
print(lst.insert(12,'modiji'))
print(lst)

None
['Rani', 'Laxmi', 'Raja', 'Raja', 'Raja', 'Bai', 'Public', 'Mumbai', 'School', 284403, 'Lalitpur', 'modiji', 'modiji', 'modiji', ['Uttarpradesh', 'UP94']]

In [34]:
# Extend Method ..
lst = [1,2,3,4,5,6,7,8,9,10]
print(len(lst))
print(lst.insert(2,'aayush'))
print(lst)
print(lst.insert(5,'Sagar'))
print(lst)

10
None
[1, 2, 'aayush', 3, 4, 5, 6, 7, 8, 9, 10]
None
[1, 2, 'aayush', 3, 4, 'Sagar', 5, 6, 7, 8, 9, 10]

In [35]:
lst.extend([11,12,13,14,15])
print(lst)

[1, 2, 'aayush', 3, 4, 'Sagar', 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [38]:
 # Various operation on list ..
lst = [21,32,43,54,65]
print(sum(lst))

215

In [42]:
# Pop function inside the list ..
lst = [32,43,54,65,76,87]
print(lst.pop())
print(lst.pop())

87
76

In [44]:
# particular index get pop ..
lst = [54,65,76,87,98,54]
print(lst.pop(1))

65

In [49]:
# Calculate total occurrrence of given elements of list ...
lst = [12,23,34,34,56,67,78,89,90]
print(lst.count(34))

2

In [51]:
lst.index(1,1,4)

ValueError: 1 is not in list